.sidebar {
    width: 240px;
    height: 760px;
    gap: 0;
    opacity: 1;
    box-shadow: 0px 0px 8px 0px #3659E229;
    font-family: Nunito Sans;
}

.task-bords {
    width: 240px; 
    height: 60px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EBEEFC;
}

.task-bords img {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}

.task-bords h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
}

.project-list {
    list-style: none;
    padding: 0 10px;
    gap: 10px;
    margin: 10px;
}

.project-list li {
    padding: 10px 24px;
    border-radius: 8px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}

.project-list li:hover,
.project-list li:focus,
.project-list li.active {
    background: #EBEEFC;
    border-radius: 8px;
}

.add-project-button {
    width: 240px; 
    height: 32px; 
    padding: 10px 24px;
    gap: 10px;
    border-top: 2px solid #EBEEFC;
    color: #3659E2;
    cursor: pointer;
}

/* SweetAlert styles */
::ng-deep .custom-swal .swal-title {
    color: #0c0c0c;
    font-family: Nunito Sans;
    font-size: 24px;
    padding: 0px;
}

::ng-deep .custom-swal .swal-text {
    color: #000000;
    font-family: Nunito Sans;
    font-size: 16px;
}

::ng-deep .custom-swal .swal-button {
    color: #ffffff;
    border-radius: 5px;
    font-family: Nunito Sans;
    border: none;
}
::ng-deep .swal-button {
    background-color: #3659E2;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

::ng-deep .swal-button--cancel:hover {
    background-color: #faf9fd;
    color: #3659E2;
}

::ng-deep .swal-button--confirm:hover {
    background-color: #faf9fd;
    color: #3659E2;
}

::ng-deep .swal-button:not([disabled]):hover {
    background-color: #f4f4f4;
}

@media (max-width:412px) {
    .sidebar{
        display: none;
    }
    .sidebaropen{
        display: block;
    }
}

