<div [ngClass]="{'sidebar':flag === false,'sidebaropen':flag === true}">
    <div class="task-bords">
        <img src="ghost-org.png" alt="Ghost Organization Logo">
        <h3>Task board</h3>
    </div>
    <span *ngIf = "!projectsLoaded"  class="loader"></span>
    <ul class="project-list">

      <li *ngFor="let project of Projects" (click)="sendtitletoservice(project)" [ngClass]="{'active':selectedProjectTitle === project.title}">
          {{ project.title}}
          
      </li>
    </ul>
    <div class="add-retrive-container">
      <div [ngClass]="{'add-project-button':projectsLoaded === false,'add-project-button-pro':projectsLoaded === true}" (click)="addProject()"> +&nbsp; Add new Project</div>
    </div>
    
  </div>
  